<div>
	<h5> TLcharj ta muzik BG </h5>


	<form method="post" action="/checkLink">
		
		<input type="text" name="linkInpark" id="zelda" placeholder="Balnce le li1 batar">
		<button type="submit">c sa</button>
	</form>

	<% if (klochar) { %>
		repren ton vieu li1 batar sa march pa
	<% }%>

</div>